@import "scss/variables";

.base {
    padding: 2em;
    padding-right: 3em;
}
.top {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    

    >div:nth-child(2) {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 0.7em;
    }
}

.actions {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5em;
    row-gap: 1em;
    align-items: center;
    justify-content: flex-end;
}