@import "scss/variables";

.label {
    margin-right: 3.4375rem;
    margin-bottom: 0.9375rem;
}

.time_picker {
    background-color: $color_bg_gray;
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.grid {
    align-items: center;
}