@import "scss/variables";

.btn_context_menu {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.context_menu {
    position: absolute;
    right: 1em;
    top: 1.5em;
    background-color: $color_white;
    box-shadow: 0 0 1em 0 $color_gray_medium;
    border-radius: 0.25em;
    list-style: none;
    padding: 0;

    li {
        cursor: pointer;
        padding: 0.2em 1em;
        &:not(:last-child) {
            border-bottom: 0.0625em solid $color_bg_gray;
        }
    }
}