.header_container {
    height: 5.125rem;
    padding-left: 3.725rem;
    padding-right: 3.725rem;
    box-shadow: 0 3px 16px lightgray;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    @media (max-width: 780px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.logo {
    margin-right: 4.975rem;
    transition: all 0.3s ease;
    display: inline-block;
    &.collapsed {
        display: none;
    }
}

.search_container {
    height: 1.8125rem;
    width: 9.75rem;
    background-color: #ECECEC;
    display: inline-flex;
    border-radius: 0.9375rem;
    align-items: center;
    padding-left: 0.65625rem;
    padding-right: 0.65625rem;
    gap: 0.4125em;
    // @media (max-width: 370px) {
    //     width: 100%;
    //     margin-bottom: 1rem;
    // }

    input {
        background: transparent;
        border: none;
        font-size: 0.688em;
        max-width: -webkit-fill-available;
        outline: none;
        font-family: "Montserrat", sans-serif
    }
}

.sidebar_toggler {
    margin-right: 2.4rem;
    @media (max-width: 780px) {
        margin-left: auto;
        margin-right: 0;
    }
}

.content_right {
    margin-left: auto;
    display: flex;
    align-items: center;
    .username {
        font-size: 0.938em;
        font-weight: 400;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
    }
    .profile_toggler {
        margin-right: 1.725rem;
    }
    .notifications {
        position: relative;
        span {
            position: absolute;
            background-color: #E55864;
            border-radius: 100%;
            font-size: 0.813em;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.19rem;
            top: -0.9rem;
            right: -0.5rem;
        }
    }
}