@import "scss/variables";

.container_tabs {
    display: flex;
    background-color: $color_gray_light;
    padding-left: 1em;
    padding-right: 1em;
    flex-wrap: wrap;
    row-gap: 0.5em;
    box-sizing: border-box;
}

.tab {
    padding: 0.525em 1.25em 0.4em;
    cursor: pointer;
    border-bottom: 0.0625em solid $color_bg_gray;

    &.active {
        background-color: $color_white;
        border-radius: 1.25em 1.25em 0 0;
        border: 0.0625em solid $color_bg_gray;
    }
}