@import "scss/variables";

.base {
    background-color: $color_white;
    padding-top: 1rem;
    padding-bottom: 2rem;
    
    section:not(.image) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.head {
    max-width: calc(100% - 6em);
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;

    >:first-child {
        flex: 1;
    }
}

.section_top {
    display: flex;
    column-gap: 2.3125rem;
    row-gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2.5625rem;
    border-bottom: 1px solid $color_bg_gray;
    margin-bottom: 1.25rem;

    .inputs, .selects {
        display: flex;
        gap: 1.25rem;
        >div {
            width: 10em;
        }
    }
    .inputs {
        width: 20.5625rem;
    }
}

.times {
    margin-top: 2.3125rem;
    > div {
        padding-bottom: 0.625rem;
        border-bottom: 1px solid $color_bg_gray;
        margin-bottom: 1.25rem;

        &:last-child {
            border-bottom: none;
        }
    }
}


.foods {
        display: grid;
        gap: 1rem;
        padding-top: 1rem;
        padding-left: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        @media (max-width: 667px) {
            grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
        }
        @media (min-width: 481px) {
            row-gap: 1.5625rem;
            column-gap: 3.0625rem;
        }
        @media (max-width: 480px) {
            grid-template-columns: repeat(auto-fit, minmax(9.5rem, 1fr));
        }
        @media (max-width: 480px) {
            padding-left: 0;
            padding-right: 0;
        }

        > .btn_add {
            border: 0.1875em solid $color_bg_gray;
            border-radius: 0.5em;
            align-self: center;
            justify-self: flex-start;
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 2em;
            text-align: center;
        }
}